/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  position: relative;
  height: 100vh;
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}
#subheading{
  position:relative;
  margin-top: 0;
  color:purple;
  margin-left:2.5em;
  font-size:60px;
  font-weight:100;
}

#header{
  margin-left: 0.9em;
  margin-bottom:0.7em;
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: Black;
  font-weight:400;
  
  
}
#main__btn {
  margin-left:2.8em;
  font-size: 1.5rem;
  background: #833ab4;
  
  padding: 5px 60px;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
  position: relative;
  transition: all 1s ease;
  outline: none;
}

#main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}



#main__btn:hover {
  border-radius:2em;
  color: purple;
  background-color: black;
  
}
#main__btn:hover:after {
  width: 100%;
}
#elements{
  width:20em;
  height:2em;
  font-size:2em;
  margin-bottom:1em;

  
}

#form{
   font-size:0.5em;
   margin-left:80px;
  
}

#container{
  background-color: purple;
  color: white;
  overflow:hidden;
  position:absolute;
  align-content:center;
  top: 0.25em;
  left: -1em;
  padding: 2em 1em 2em 103.3em;
  top:-1em;
}

#contents p{
  position:absolute;
  top: 0.25em;
  left: 2em;
  top: 0.8em;
  color:white;
  font-weight:light;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
  
}

#contents p:hover{
  top: 0.5em;
  color:yellow;
  
}
#Image{
  position:absolute;
  width:30px;
  right: 4em;
  top: 1.2em;
  transition: all 1s ease-in-out;
  
}
#Image:hover{
  top:0.02em
}
#testing{
  justify-content:center;
  display:box;
 
}

#icon{
  position:box;
  width:6em;
  margin-left: 11.5em;
  margin-bottom:-2em;
  margin-top:1em;
}




