/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 #body_stuff {
  position: relative;
  height: 100vh;
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}
#testing{
  display:box;
  justify-content:center;
  align-items:center;
}

#subheading{
  color:purple;
  font-size:3.75em;
  font-weight:100;
  justify-content:center;
  align-items:center;
  text-align:center;
}


#header{
  margin-bottom:0.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 7em;
  color: Black;
  align:center;
  font-weight:400;
  text-align:center;
  
  
}


#main__btn {
  margin-left:2.8em;
  font-size: 1.5rem;
  background: #833ab4;
  padding: 0.313em 3.75em;
  border: none;
  border-radius: 0.313em;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  margin-right:4rem;
}




#main__btn:hover {
  border-radius:2em;
  color: #fff;
  
}
#main__btn:hover:after {
  width: 100%;
}
#elements{
  margin-right:2em;
  width:20em;
  height:2em;
  font-size:2.5em;
  margin-bottom:1em;
  justify-content:center;

  
}


#form{
   font-size:0.5em;
   margin-left:8em;
   align-items:center;
   text-align:center;
  
  
}


#create{
 
  font-size: 3em;
  transition: all 0.3s ease;
}
#create:hover{
  color: black;
  
}


#forgot {
  margin-left:5em;
  font-size: 1rem;
  background: black;

  padding: 0.5em 1em;
  border: none;
  border-radius:1em;
  color: #fff;
  margin-top: 0.5rem;
  text-align:center;
  margin-right:7rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
}
#forgot:hover {
  border-radius:0.4em;
  
  
}
#container{
  background-color: purple;
  color: white;
  overflow:hidden;
  position:absolute;
  align-content:center;
  top: 0.25em;
  left: -1em;
  padding: 2em 1em 2em 103.3em;
  top:-1em;
}
#forget_text{
  font-size:2em;
  margin-right:2em;
  transition: alll 1s ease;
  cursor:pointer;
}
 
#contents p{
  position:absolute;
  top: 0.25em;
  left: 2em;
  top: 0.8em;
  color:white;
  font-weight:light;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
  
}

#contents p:hover{
  top: 0.5em;
  color:yellow;
  cursor:pointer;
  
}
#Image{
  position:absolute;
  width:30px;
  right: 4em;
  top: 1.2em;
  transition: all 1s ease-in-out;
  
}
#Image:hover{
  top:0.02em
}
#icon{
  text-align:center;
  justify-content:center;
  color:black;
  font-size:5em;
  margin-left:0em;
  
}


#form_contents{
  display:box;
  text-align:center;
  margin-left: 0.2em;
  margin-bottom:0.1em;
  justify-content:center;
  background-color: white;
  color: black;
  font-size: 2em;
  font-weight: 100;
}






