/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 #body_stuff_a {
  position: relative;
  height: 100vh;
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}
#testing_a{
  display:box;
  justify-content:center;
  align-items:center;
}

#subheading_a{
  color:purple;
  font-size:3.75em;
  font-weight:100;
  justify-content:center;
  align-items:center;
  text-align:center;
}





#main__btn_a {
  display: inline-block;
  
  font-size: 1.5rem;
  background: #833ab4;
  padding: 0.313em 3.75em;
  border: none;
  border-radius: 0.313em;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  text-align: center;
  margin-left: 5em;
}




#main__btn_a:hover {
  border-radius:2em;
  color: #fff;
  
}
#main__btn_a:hover:after {
  width: 100%;
}
#provinces{
  font-size: 2rem;
}










 


#icon_a{
  text-align:center;
  justify-content:center;
  color:black;
  font-size:5em;
  margin-left:0em;
  
}


#form_contents_a{
  display:box;
  text-align:center;
  margin-left: -8rem;
  margin-bottom:0.1em;
  justify-content:center;
  background-color: white;
  color: black;
  font-size: 2em;
  font-weight: 100;
}






