/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

#body_stuff_dd {
    position: relative;
    height: 100vh;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
    color: purple;
  }
  #testing_d{
    margin-left: 1rem;
    
    display:box;
    justify-content:left;
    align-items:left;
  }
  
  #subheading_d{
    margin-top: 0.8em;
    margin-bottom: 3rem;
    margin-left: 0.5em;
    color:purple;
    font-size:2em;
    font-weight:100;
    justify-content:center;
    align-items:left;
    text-align:left;
  }
  
  

  
  
  
  
  
 
  
  
  #create{
   
    font-size: 3em;
    transition: all 0.3s ease;
  }
  #create:hover{
    color: black;
    
  }
  
  
 
  
  
   
  
  
  #icon{
    text-align:center;
    justify-content:center;
    color:black;
    font-size:5em;
    margin-left:0.5em;
    
  }
  #form_contents{
    display:inline-block;
    margin-left: 1em;
  }
  
  .label_style{
    color: black;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 0.5em;
  }
  
  
  
  
  
  
 
  
  #file_icon{
    position: absolute;
    
    top: 0.75em;
    left: 4em;
    text-align: center;
    font-size: 15em;
    box-shadow: black;
    transition: all 1s ease-in-out;
  }
  #file_icon:hover{
    font-size: 15.2em;
    color:black;
  }
  
  #change{
    margin-top: -1.9rem;
  }
#save_btn{
    display: absolute;
    margin-bottom: 5em;

}