/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 #body_stuff {
    position: relative;
    height: 100vh;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
    color: purple;
  }
  #testing_d{
    margin-left: 1rem;
    
    display:box;
    justify-content:left;
    align-items:left;
  }
  
  #subheading{
    margin-top: 5.5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    color:purple;
    font-size:2em;
    font-weight:100;
    justify-content:center;
    align-items:left;
    text-align:left;
  }
  
  
  #header{
    margin-bottom:0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 7em;
    color: Black;
   
    font-weight:400;
    
    
  }
  
  
 

  
  
  #form{
     font-size:0.5em;
     
    align-items:center;
    text-align:center;
    
    
  }
  
  
  #create{
   
    font-size: 3em;
    transition: all 0.3s ease;
  }
  #create:hover{
    color: black;
    
  }
  
  
 
  
  
   
  
  
  #icon{
    text-align:center;
    justify-content:center;
    color:black;
    font-size:5em;
    margin-left:0.5em;
    
  }
  #form_contents{
    display:inline-block;
    margin-left: 1em;
  }
  
  .label_style{
    color: black;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 0.5em;
  }
  
  
  
  
  
  
 
  
  #file_icon{
    position: absolute;
    
    top: 0.75em;
    left: 4em;
    text-align: center;
    font-size: 15em;
    box-shadow: black;
    transition: all 1s ease-in-out;
  }
  #file_icon:hover{
    font-size: 15.2em;
    color:black;
  }
  
  #save_btn{
    margin-top: -0.1rem;
    width:15em;
    background-color: purple;
    color:white;
    transition: all 0.5s ease-in-out;
  }
  #save_btn:hover{
    background-color:black;
    border-radius: 1em;
  
  }