/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

* body__stuff {
  background-color: white;
  position: relative;
  height: 100vh;
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}
#main_bodies{
  position: absolute;
  top: 0%;
  width: 100%;
  
}
#forget_text{
  text-decoration: none;
  transition: all 0.3s ease;

}
#forget_text:active{
  text-decoration: none;
  font-size: 1em;
}
#forget_text:hover{

  text-decoration: none;
  color:yellow;
}
#forget_text:link{
  text-decoration: none;

 
  font-size: 1.1em;
  color:black;
}
#testing_e {
  margin-top: 16em;
  display: box;
  justify-content: center;
  align-items: center;
}

#subheading_f {
  margin-left: -2rem;
  margin-bottom:1rem;  
  color: purple;
  font-size: 3.75em;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  text-align: center;
}



#main__btn {
  margin-left: 2.8em;
  font-size: 1.5rem;
  background: #833ab4;

  padding: 0.313em 3.75em;
  border: none;
  border-radius: 0.313em;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  margin-right: 7rem;

}


#main__btn:hover {
  border-radius: 2em;
  color: #fff;
}
#main__btn:hover:after {
  width: 100%;
}
#elements_g {
  margin-left: 30rem;
  margin-right: 2em;
  width: 20em;
  height: 2em;
  font-size: 2.5em;
  margin-bottom: 1em;
  justify-content: center;
}

#form {
  font-size: 0.5em;
  align-items: center;
  text-align: center;
}

#create {
  font-size: 3em;
  transition: all 0.3s ease;
}
#create:hover {
  color: black;
}

#forgot {
  text-align: center;
  margin-left: 15em;
  font-size: 1rem;
  background: black;

  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  color: #fff;
  margin-top: 0.1rem;
  text-align: center;
  margin-right: 4rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  text-decoration: none;
}
#forgot:hover {
  border-radius: 0.4em;
  text-decoration: none;
}
#container {
  background-color: purple;
  color: white;
  overflow: hidden;
  position: absolute;
  align-content: center;
  top: 0.25em;
  left: -1em;
  padding: 2em 1em 2em 103.3em;
  top: -1em;
}


#contents p {
  position: absolute;
  top: 0.25em;
  left: 2em;
  top: 0.8em;
  color: white;
  font-weight: light;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#contents p:hover {
  top: 0.5em;
  color: yellow;
  cursor: pointer;
}
#Image {
  position: absolute;
  width: 30px;
  right: 4em;
  top: 1.2em;
  transition: all 1s ease-in-out;
}
#Image:hover {
  top: 0.02em;
}
#icon_b {
  margin-top: 4.5em;
  margin-right: 2.5rem;
  text-align: center;
  justify-content: center;
  color: black;
  font-size: 4em;
}

#lower_form {
  margin-left: 34rem;
  margin-top: -2.5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size:1em;
  text-decoration: none;
  transition: all 0.3s ease;
}

#lower_form:active{
  text-decoration: none;
}
#lower_form:link {
  text-decoration: none;
}
#not_reg{
  transition: all 0.3s ease-in-out;
}
#not_reg:hover{
  transform: translateY(-0.25em);
  color: yellow;
}

#main_stuff{
  margin-top: 10em;
  background-color: white;
}

#mains{
  background-color: white;
  margin-top: 20em;
  overflow:-moz-hidden-unscrollable;
}


